<div class="container" style="display: flex; justify-content: center; width: 100%;">
    <div class="categories">
        <h1>Categorias</h1>

        <button *ngFor="let category of categories; let index = index;" mat-flat-button
        [attr.class]='selectedCategoryIndex === index ? primaryClass : whiteClass'
        (click)="selectedCategoryIndex = index;">
            {{ category.description }}
        </button>
        <button *ngIf="!addCategoryInput" mat-mini-fab color="accent" style="align-self: flex-end; margin: 0 auto;"
        (click)="addCategoryInput = true;" aria-label="Example icon button with a plus one icon">
            <mat-icon>plus_one</mat-icon>
        </button>
        <mat-form-field *ngIf="addCategoryInput" appearance="outline">
            <mat-label>Nova categoria</mat-label>
            <input matInput id="categoryInput" title="teste"
            [(ngModel)]="categoryInput" (keydown)="keyDownHandler($event)" type="text" placeholder="Digite"/>
        </mat-form-field>
    </div>
    <div class="card-wrapper">
        <h2>Lista: {{categories[selectedCategoryIndex].description}}</h2>
        <mat-card *ngFor="let todo of categories[selectedCategoryIndex].todoList; let index = index;" style="margin-bottom: 30px; background-color: #9CB4CC;">
            <mat-card-title>{{ todo.description }}</mat-card-title>
            <mat-card-actions>
                <button mat-raised-button color="primary">Feito</button>
                <button mat-raised-button [id]="'delete-iten-'+index" (click)="deleteTodoItem(index)" color="warn">Deletar</button>
            </mat-card-actions>
        </mat-card>
        <div class="card-inputs">
            <mat-card style="background-color: #9CB4CC;">
                <mat-card-title style="margin-bottom: 20px;">Adicionar sua tarefa</mat-card-title>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Proxima tarefa</mat-label>
                    <input matInput id="todoInput" title="teste" [(ngModel)]="newTodoItem.description" 
                    type="text" placeholder="Digite"/>
                </mat-form-field>
                <button mat-raised-button id="addTodoItem" style="margin-left: 30px;"
                (click)="addTodoItem()" color="primary">Adicionar item</button>
            </mat-card>

            
        </div>
    </div>
</div>